body, h1, h2, h3, h4, h5, h6, input, .btn, .dropdown-menu > li > a { font-weight: 300; }
.btn-primary:hover,
.btn-primary:focus { background-color: #343446; border-color: #343446; opacity: 0.8; }
.btn-danger:hover,
.btn-danger:focus { background-color: #df4c47; border-color: #df4c47; opacity: 0.8; }
/* Install CSS */
.header.install { margin: 30px 0; }
.footer.install .copyright { border-top: 1px solid #e1e1e1; }
.footer.install .navbar-text { margin-left: 0; }
/* Header CSS */
.header-background { background-color: #343446; height: 249px; position: absolute; width: 100%; }
.header .navbar { border: none; margin-bottom: 0; }
.header .navbar .form-control { -webkit-box-shadow: none; border: none; box-shadow: none; width: 110px; }
.header .navbar .form-control:focus { opacity: 0.8; outline: 0; }
.header .navbar-inverse { background-color: #fff; }
.header .navbar-inverse .navbar-nav > li > a { color: #6d96bd; }
.header .navbar-inverse .navbar-nav > li > a:hover { text-decoration: underline; }
.header .navbar-inverse .navbar-nav > li > a.sign-up-link { color: #34c78a; }
.header .navbar-inverse .navbar-text { color: #666; margin: 18px; }
.header .navbar-inverse .navbar-text a.checkbox-label { text-decoration: none; }
.header .navbar-inverse .navbar-collapse img { margin-left: -15px; margin-right: 10px; }
.header .navbar-inverse .dropdown-menu > li > a:hover,
.header .navbar-inverse .dropdown-menu > li > a:focus { background-color: #fff; color: #343446; }
.header .navbar-inverse .dropdown-menu > .active > a,
.header .navbar-inverse .dropdown-menu > .active > a:hover,
.header .navbar-inverse .dropdown-menu > .active > a:focus { background-color: #fff; color: #df4c47; }
.header .navbar-inverse .navbar-form { margin: 0; padding-left: 0; }
.header .navbar-inverse .navbar-form .form-control { background-color: #fff; border: none; color: #666; }
.header .navbar-inverse .navbar-form .form-control::-webkit-input-placeholder { color: #666; opacity: 1; }
.header .navbar-inverse .navbar-form .form-control::-moz-placeholder { color: #666; opacity: 1; }
.header .navbar-inverse .navbar-form .form-control:-ms-input-placeholder { color: #666; opacity: 1; }
.header .navbar-inverse .navbar-form .btn-default { height: 60px; }
.header .navbar-inverse .navbar-form .btn-default:hover { background-color: #d6e7f6; border-color: #d6e7f6; opacity: 0.8; }
.header .navbar-inverse .navbar-form i { color: #34c78a; cursor: pointer; font-size: 22px; }
.header .navbar-inverse .navbar-right { margin: 0; }
.header .navbar-inverse .navbar-right > li { padding: 8px 0; }
.header .navbar-inverse .navbar-right > li > a { color: #fff; display: inline; padding: 0; }
.header .navbar-inverse .navbar-right > li > a:first-child .fa-circle { color: #3b5998; }
.header .navbar-inverse .navbar-right > li > a:nth-child(2) .fa-circle { color: #2daae1; }
.header .navbar-inverse .navbar-right > li > a:nth-child(3) .fa-circle { color: #ea4c88; }
.header .navbar-inverse .navbar-nav > .open > a,
.header .navbar-inverse .navbar-nav > .open > a:hover,
.header .navbar-inverse .navbar-nav > .open > a:focus { background-color: #fff; color: #6d96bd; }
.header .navbar-inverse .navbar-nav .open .dropdown-menu > li > a { color: #6d96bd; }
.header .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
.header .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus { background-color: rgba(0, 0, 0, 0); color: #343446; }
.header .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
.header .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
.header .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus { background-color: #fff; color: #df4c47; }
.header .jumbotron {position:absolute; display:block; left:0; bottom:0; height:95px; width:80%; line-height:35px; background:#003c7e; background-image:url(img/logo-bw-bar.png); text-align:right; }
.header .jumbotron h1 { color: #343446; font-size: 85px; font-weight: bold; margin-top: 0; }
.header .jumbotron h1 span { color: #df4c47; display: block; font-size: 56px; font-weight: 300; margin-top: -9px; }
.header .navbar-default .form-control::-webkit-input-placeholder { color: #6d96bd; opacity: 1; }
.header .navbar-default .form-control::-moz-placeholder { color: #6d96bd; opacity: 1; }
.header .navbar-default .form-control:-ms-input-placeholder { color: #6d96bd; opacity: 1; }
.header .navbar-default .navbar-right span { color: #343446; margin: 22px 0 22px 10px; }
.header .navbar-default .navbar-right .form-control { display: inline; margin-top: -5px; }
.header .breadcrumb { margin-bottom: 40px; margin-top: 20px; }
/* Main CSS */
.main { padding-bottom: 40px; }
.main h1 { margin-top: 0; }
.main h3 { border-bottom: 1px solid #e1e1e1; color: #999; margin-bottom: 20px; padding-bottom: 15px; }
.main p.root { border-bottom: 1px solid #e1e1e1; margin-bottom: 50px; padding-bottom: 20px; }
.main .general-information .form-control,
.main .profile-details .form-control,
.main .update .form-control,
.main .account-information .form-control,
.main .submit .form-control,
.main .change-password .form-control { border: none; box-shadow: none; font-size: 14px; }
.main .bootstrap-select .btn-default:hover,
.main .bootstrap-select .btn-default:focus,
.main .bootstrap-select.open .dropdown-toggle.btn-default { background-color: #d6e7f6; border-color: #d6e7f6; opacity: 0.8; }
.main .bootstrap-select .btn:active,
.main .bootstrap-select .btn.active,
.main .bootstrap-select.open .dropdown-toggle { -webkit-box-shadow: none; box-shadow: none; }
.main .bootstrap-select .dropdown-menu { margin: 0; }
.main .bootstrap-select .dropdown-menu > li > a:hover,
.main .bootstrap-select .dropdown-menu > li > a:focus { color: #343446; }
/* 404 CSS */
.main .oops { padding: 60px 0; text-align: center; }
.main .oops h1 { color: #343446; font-size: 200px; font-weight: bold; }
.main .oops .input-group { margin: 0 auto; width: 350px; }
.main .oops .input-group-addon { background-color: #d6e7f6; border: none; color: #343446; }
.main .oops .form-control { box-shadow: none; }
.main .oops .form-control::-webkit-input-placeholder { color: #6d96bd; opacity: 1; }
.main .oops .form-control::-moz-placeholder { color: #6d96bd; opacity: 1; }
.main .oops .form-control:-ms-input-placeholder { color: #6d96bd; opacity: 1; }
.main .oops .form-control:focus { -webkit-box-shadow: none; border-color: #d6e7f6; box-shadow: none; opacity: 0.8; outline: 0; }
/* FAQ CSS */
.main .accordion .panel { box-shadow: none; }
.main .accordion .panel-default > .panel-heading { background-color: #fff; }
.main .accordion .panel-default,
.main .accordion .panel-default > .panel-heading + .panel-collapse .panel-body { border: none; }
.main .accordion h4.panel-title { font-size: 28px; }
.main .accordion h4.panel-title i { font-size: 18px; }
/* Contact CSS */
.main .details { margin-bottom: 30px; }
.main .details h4 { color: #df4c47; }
.main .details .list-group-item { border: none; color: #333; }
.main .details .list-group-item span { color: #999; font-size: 14px; }
.main .map { margin-bottom: 60px; }
.main .map img { height: auto; width: 100%; }
.main .map .map-canvas { height: 300px; width: 100%; }
.main .contact-form textarea { height: 180px; resize: vertical; }
.main .contact-form .form-control { border: none; box-shadow: none; font-size: 14px; }
.main .submit .btn-primary { padding: 15px 40px; }
/* Tickets CSS */
.main .filter .btn-default { background-color: #fff; border-color: #fff; color: #6d96bd; font-size: 20px; }
.main .filter .btn-default:hover { color: #343446; }
.main .filter .btn:active,
.main .filter .btn.active { box-shadow: none; color: #df4c47; }
.main .sort { margin-bottom: 40px; }
.main .sort .btn { background-color: #fff; border-color: #fff; color: #999; font-size: 14px; }
.main .sort .btn:active,
.main .sort .btn.active { box-shadow: none; color: #333; }
.main .sort i { padding-left: 5px; }
.main .tickets .btn-lg { height: 74px; width: 100%; }
.main .tickets .label { border-radius: 0; display: block; font-size: 20px; font-weight: normal; height: 74px; padding-top: 25px; width: 100%; }
.main .tickets a.ticket-title { color: #333; font-size: 38px; }
.main .tickets a.ticket-title:hover,
.main .tickets a.ticket-title:focus { color: #df4c47; text-decoration: underline; }
.main .tickets span.ticket-id { color: #999; display: block; font-size: 14px; margin-bottom: 10px; }
.main .tickets .table-responsive { border: none; margin: 20px 0 50px; }
.main .tickets .table { background-color: #d6e7f6; color: #df4c47; font-size: 20px; }
.main .tickets .table span { color: #4f4f69; font-size: 16px; }
.main .tickets .table > thead > tr > th,
.main .tickets .table > tbody > tr > th,
.main .tickets .table > tfoot > tr > th,
.main .tickets .table > thead > tr > td,
.main .tickets .table > tbody > tr > td,
.main .tickets .table > tfoot > tr > td { border: none; }
.main .pagination-background { background-color: #343446; height: 60px; margin: 20px 0 20px -10000px; padding: 6px 0; }
.main .pagination { margin: 0 0 0 10000px; }
/* Tickets Edit CSS */
.main .ticket-buttons .btn-primary { margin-right: 15px; padding: 9px 45px; }
.main .ticket-buttons .btn-danger { padding: 9px 36px; }
.main .tickets i { color: #343446; cursor: pointer; }
.main .tickets .fa-check-circle-o { color: #34c78a; }
.main .tickets span.ticket-id.edit { margin-bottom: 10px; margin-left: 30px; }
.main .underline { border-bottom: 1px solid #e1e1e1; margin-bottom: 20px; margin-top: 40px; }
.main .apply-button .bootstrap-select .btn-default { min-height: 53px; }
.main .apply-button .btn-primary { font-size: 16px; margin-left: 30px; padding: 14px 40px; }
/* Tickets Profile CSS */
.main label { color: #333; font-weight: 300; }
.main label.required { color: #df4c47; }
.main .general-information img,
.main .general-information .btn-primary { margin: 28px 0 20px; }
.main .general-information p { color: #999; }
.main .general-information p span { color: #333; }
.main .profile-details .input-group-lg input { background-color: #eee; border-color: #eee; color: #999; width: 100%; }
.main .profile-details .btn-danger { font-size: 14px; }
/* Tickets Register CSS */
.main p.register { margin-bottom: 50px; }
.main .general-information .fa { padding-left: 45px; padding-right: 15px; }
.main .general-information a.radio-label { color: #333; text-decoration: none; }
.main .general-information .fa,
.main .account-information .fa { color: #333; cursor: pointer; font-size: 22px; }
.main .general-information .fa-dot-circle-o,
.main .account-information .fa-check-circle-o { color: #34c78a; }
.main .account-information .fa { padding-right: 5px; }
.main .account-information a.checkbox-label { text-decoration: none; }
.main .account-information .col-md-3 { padding-top: 30px; }
.main .ticket-details .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]) { width: 100%; }
.main .ticket-details .bootstrap-select .btn-default { height: 46px; }
.main .ticket-details textarea { height: 100px; resize: vertical; }
.main .ticket-details .form-control { border: none; box-shadow: none; font-size: 14px; }
.main .ticket-details .input-group-lg { margin-bottom: 20px; }
.main .ticket-details .input-group-lg input { background-color: #eee; color: #999; width: 100%; }
.main .ticket-details .btn-danger { font-size: 14px; }
/* Tickets Show CSS */
.main .ticket .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]) { margin-top: 10px; width: 140px; }
.main .ticket .bootstrap-select .btn-default { height: 46px; }
.main .ticket h2 { margin: 0 0 6px; }
.main .ticket .ticket-id { color: #999; font-size: 14px; }
.main .ticket .ticket-header i { color: #333; cursor: pointer; font-size: 20px; }
.main .ticket .label { border-radius: 0; display: block; font-size: 20px; font-weight: normal; height: 74px; padding-top: 25px; width: 100%; }
.main .ticket .edit-form { display: none; }
.main .ticket .edit-form label { color: #333; font-weight: normal; }
.main .ticket .edit-form label.required { color: #df4c47; }
.main .ticket .edit-form .form-control { border: none; box-shadow: none; font-size: 16px; }
.main .ticket .edit-form textarea { height: 180px; resize: vertical; }
.main .ticket .edit-form .selectpicker,
.main .ticket .edit-form .bootstrap-select { height: 60px; }
.main .ticket .table-responsive { border: none; margin: 20px 0 50px; }
.main .ticket .table { background-color: #d6e7f6; color: #df4c47; font-size: 20px; }
.main .ticket .table span { color: #4f4f69; font-size: 16px; }
.main .ticket .table > thead > tr > th,
.main .ticket .table > tbody > tr > th,
.main .ticket .table > tfoot > tr > th,
.main .ticket .table > thead > tr > td,
.main .ticket .table > tbody > tr > td,
.main .ticket .table > tfoot > tr > td { border: none; }
.main .replied-user { text-align: center; }
.main .replied-user img { margin: auto; }
.main .replied-user .user-name { color: #333; display: block; font-size: 20px; margin-bottom: 20px; margin-top: 10px; }
.main .replied-user .user-type { background-color: #d6e7f6; color: #4f4f69; display: block; font-size: 14px; margin: 0 auto 20px; padding: 10px 20px; width: 70px; }
.main .replied-user .user-type.staff { background-color: #34c78a; color: #fff; }
.main .replied p { margin-bottom: 25px; }
.main .replied .fa-quote-left { margin-right: 10px; vertical-align: top; }
.main .replied p.previous-reply { display: inline-block; width: 92%; }
.main .replied p.previous-reply span { color: #df4c47; display: block; font-size: 20px; }
.main .replied .details { background-color: #eee; color: #df4c47; font-size: 14px;  margin: 0 0 50px; }
.main .replied .details .pull-left { padding: 25px 0 0; }
.main .replied .details .pull-right { padding: 25px 0 21px; }
.main .replied .details a { color: #df4c47; margin-left: 30px; }
.main .replied .details .fa-stack { color: #343446; cursor: pointer; margin-top: -4px; }
.main .rate { margin-bottom: 70px; }
.main .rate span.question { color: #999; margin-right: 15px; }
.main .rate span.stars { color: #df4c47; cursor: pointer; }
.main .reply textarea { height: 100px; resize: vertical; }
.main .reply .form-control { border: none; box-shadow: none; font-size: 14px; }
.main .reply .input-group-lg { margin-bottom: 20px; }
.main .reply .input-group-lg input { background-color: #eee; border-color: #eee; color: #999; width: 100%; }
.main .reply .btn-danger { font-size: 14px; }
/* Departments CSS */
.main .table-responsive { border: none; }
.main .data-table .table { color: #333; margin: 30px 0 80px; }
.main .data-table .table > thead > tr > th,
.main .data-table .table > tbody > tr > th,
.main .data-table .table > tfoot > tr > th { border: none; }
.main .data-table .table > thead > tr > td,
.main .data-table .table > tbody > tr > td,
.main .data-table .table > tfoot > tr > td { border-bottom: 1px solid #b1cee7; border-top: none; }
.main .data-table .table th { background-color: #ebf3f9; }
.main .data-table .table img { margin-bottom: 15px; }
.main .data-table .table div { margin-bottom: 25px; }
.main .data-table .table span:not(.label) { color: #999; display: block; font-size: 14px; }
.main .data-table .table .label { font-weight: 300; }
.main .data-table .table i { cursor: pointer; }
.main .data-table .table i:not(:first-child) { margin-left: 15px; }
/* Sidebar CSS */
.sidebar { padding-bottom: 40px; }
.sidebar .btn-danger.btn-lg { margin-bottom: 10px; width: 80%; }
.sidebar .btn-danger.btn-lg:last-child { margin-bottom: 60px; }
.sidebar .input-group { margin-bottom: 40px; }
.sidebar .input-group-addon { background-color: #d6e7f6; border: none; color: #343446; }
.sidebar h4 i { color: #df4c47; margin-right: 5px; }
.sidebar .list-group { margin-bottom: 40px; }
.sidebar .list-group-item { border: none; margin-bottom: 5px; padding: 3px 0; }
.sidebar .list-group span { color: #999; font-size: 14px;  }
.sidebar .btn-success { display: block; margin-bottom: 40px; }
.sidebar .btn-success:hover,
.sidebar .btn-success:focus { background-color: #34c78a; border-color: #34c78a; color: #ffffff; opacity: 0.8; }
.sidebar .btn-success i { color: #fff; }
.sidebar .form-control { box-shadow: none; }
.sidebar .form-control::-webkit-input-placeholder { color: #6d96bd; opacity: 1; }
.sidebar .form-control::-moz-placeholder { color: #6d96bd; opacity: 1; }
.sidebar .form-control:-ms-input-placeholder { color: #6d96bd; opacity: 1; }
.sidebar .form-control:focus { -webkit-box-shadow: none; border-color: #d6e7f6; box-shadow: none; opacity: 0.8; outline: 0; }
/* Footer CSS */
.footer .navbar { margin-bottom: 0; }
.footer .navbar-default .navbar-right span { color: #333; cursor: pointer; display: inline-block; font-size: 34px; margin: 16px 30px 5px 10px; }
.footer .jumbotron { background-color: #d6e7f6; font-weight: 300; margin-bottom: 0; padding: 0; }
.footer .jumbotron h2 { margin-left: 10px; }
.footer .jumbotron p { color: #4f4f69; font-size: 14px; margin-left: 10px; }
.footer .jumbotron p.about { border-bottom: 1px solid #b1cee7; font-size: 16px; margin-bottom: 20px; margin-right: 10px; padding-bottom: 20px; }
.footer .jumbotron p a,
.footer .jumbotron p a:hover,
.footer .jumbotron p a:focus { color: #df4c47; }
.footer .jumbotron i { color: #343446; padding-left: 20px; }
.footer .jumbotron .col-md-4 br { margin-bottom: 10px; }
.footer .jumbotron .col-md-4 span { color: #6d96bd; }
.footer .jumbotron .form-control { box-shadow: none; padding: 0; }
.footer .jumbotron .form-control::-webkit-input-placeholder { color: #6d96bd; opacity: 1; }
.footer .jumbotron .form-control::-moz-placeholder { color: #6d96bd; opacity: 1; }
.footer .jumbotron .form-control:-ms-input-placeholder { color: #6d96bd; opacity: 1; }
.footer .jumbotron .form-control:focus { -webkit-box-shadow: none; border-color: #d6e7f6; box-shadow: none; opacity: 0.8; outline: 0; }
.footer .navbar-inverse { background-color: #fff; border-color: #fff; }
.footer .navbar-inverse .navbar-nav { margin: 0; }
.footer .navbar-inverse .navbar-text { color: #666; }
.footer .navbar-inverse .navbar-nav > li > a { color: #6d96bd; }
.footer .navbar-inverse .navbar-nav > li > a:hover { text-decoration: underline; }
.footer .navbar-inverse .navbar-right > li:last-child > a { margin-right: 15px; }
.footer-background { background-color: #343446; height: 340px; margin-top: -340px; position: absolute; width: 100%; z-index: -1; }